/temp
/build
/dist
/venv
/.venv
/.tox
/.cache
/.pytest_cache
/.idea
/.eggs

/.vscode/*
!/.vscode/extensions.json
!/.vscode/snippets

__pycache__

temp_*

*.egg-info
*.log
*.pyd
*.pyc
*.bat
*.whl
*.so
