/temp
/build
/dist
/venv
/.venv
/env
/.tox
/.cache
/.pytest_cache
/.idea
/.eggs

/.vscode/*
!/.vscode/extensions.json
!/.vscode/snippets

__pycache__

temp_*
examples/output

*.egg-info
*.log
*.pyd
*.pyc
*.whl
*.so
*.a
*.dll
