[MESSAGES CONTROL]
# disable=assigning-non-slot

[SIMILARITIES]
# min-similarity-lines=40

[FORMAT]
max-line-length=120
max-module-lines=10000

[DESIGN]
max-args=8
max-public-methods=100
min-public-methods=1
