html {
	overflow-y: scroll;
}

body {
	background-color: #F8F8F8;
}

h1 {
	font-size: 28px;
}

.container {
	background-color: #FEFEFE;
	border: 1px solid #DDDDDD;
	border-top: none;
	padding-bottom: 90px;
	margin-bottom: 30px;
}

ul.home-ul {
	list-style-type: none;
}

ul.home-ul {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

@media (min-width: 768px) {
	ul.home-ul {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}

@media (min-width: 992px) {
	ul.home-ul {
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
	}
}

@media (min-width: 1200px) {
	ul.home-ul {
		columns: 4;
		-webkit-columns: 4;
		-moz-columns: 4;
	}
}

pre {
	background-color: #F8F8F8;
	color: #000000;
}

.token_glconst {
	color: #0033CC;
}

.token_glfunc {
	font-weight: bold;
	color: #0033CC;
}

.token_myfunc {
	font-weight: bold;
}

.token_glkeyword {
	font-weight: bold;
	color: #0033CC;
}

.token_mykeyword {
	color: #0033CC;
}

.token_integer {
	color: #0033CC;
}

.token_sign {
	font-weight: bold;
}

.token_operator {
	font-weight: bold;
	color: #0033CC;
}

.token_comment {
	color: #008822;
}

.token_string {
	color: #008822;
}

.token_none {
	color: #CC3300;
}

.token_comment .token {
	color: #008822;
}
